@model IEnumerable<ClassicGarage.Models.PartsModels>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Parts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CatalogNo)*@
            Catalog Number
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PurchaseAmount)*@
            Purchase Amount
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PurchaseDate)*@
            Purchase Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SalesAmount)*@
            Sales Amount
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SalesDate)*@
            Sales Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Car.Owner.Email == User.Identity.GetUserName())
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>

        @if (item.Car.Owner.Email == User.Identity.GetUserName())
        {
            <td>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>

                    </ul>
                </div>
            </td>
        }
        else
        {
            <td>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>


                    </ul>
                </div>
            </td>
        }
    </tr>
        }
    }
</table>
