@model ClassicGarage.Models.CarModels
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Repairs";
}

<h2>@ViewBag.title</h2>

<table class="table">
    <tr>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Repair)
    {

    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Car.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairPrice)
        </td>

    </tr>
    }

</table>

@Html.ActionLink("Back", "MojeSamochody")

